@use "../../variables" as *;

.news-events-wrapper {
  .news-title-wrapper {
    margin-bottom: 42px;
  }

  a {
    &:hover {
      text-decoration: none;

      img {
        transform: scale(1.2);
      }

      .img-and-news-wrapper .news-events-wrapper p {
        color: $v_orange_bistre;
      }
    }
    .img-and-news-wrapper {
      border: 1px solid $v_gray_gainsboro;
      border-bottom: none;
      display: flex;
      .img-wrapper {
        overflow: hidden;
        img {
          display: none;

          @media screen and (min-width: $v_breakpoint_lg) {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: transform 0.5s ease;
          }
        }
      }

      .news-events-wrapper {
        padding: 10px 0 16px 20px;

        @media screen and (min-width: $v_breakpoint_lg) {
          padding: 49px 24px;
        }

        p {
          color: $v_black;
          margin-bottom: 8px;
          width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 23px;
          transition: color 0.2s ease;

          @media screen and (min-width: $v_breakpoint_lg) {
            width: 100%;
            white-space: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }

        time {
          font-size: $v_fontsize_xs;
          color: $v_gray_gainsboro;
        }
      }
    }

    .last-img-and-news-wrapper {
      border-bottom: 1px solid $v_gray_gainsboro;
    }
  }

  .news-more-wrapper {
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: right;

    @media screen and (min-width: $v_breakpoint_lg) {
      margin-bottom: 0;
    }
  }
}
