@use "../../variables" as *;

.top-wrapper {
  background-color: $v_black;
  .img-title-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 360px;
      z-index: 1;

      @media screen and (min-width: $v_breakpoint_lg) {
        height: 100%;
      }
    }
    p {
      position: absolute;
      color: $v_white;
      font-size: $v_fontsize_l;
      z-index: 2;
      writing-mode: vertical-rl;

      @media screen and (min-width: $v_breakpoint_lg) {
        font-size: $v_fontsize_xl;
      }
    }
  }
  .message-wrapper {
    @media screen and (min-width: $v_breakpoint_lg) {
      padding-bottom: 74px;
    }
    .message-title {
      color: $v_white;
    }
    .message-text {
      color: $v_white;
    }
  }
}
