@use "../../variables" as *;

.news-more-title {
  display: inline-flex;
  align-items: center;
  color: $v_black;
  font-size: $v_fontsize_s;
  transition: color 0.2s ease;

  i {
    margin-left: 16px;
  }

  &:hover {
    color: $v_gray_nobel;
    text-decoration: none;
  }
}
