@use "../../variables" as *;

.nav-wrapper {
  background-color: $v_black;
  padding: 0;

	@media screen and (min-width: $v_breakpoint_xl) {
		background-color: $v_black_50;
	}

  .img-wrapper {
    margin-left: 16px;
    padding: 20px 0;

    .logo-img {
      width: 120px;
    }
  }

  button {
    margin-right: 16px;
    outline: none;

		@media screen and (min-width: $v_breakpoint_xl) {
			display: none;
		}

    .humberger-icon {
      width: 15px;
      height: 3px;
      background-color: $v_white;
      margin: 3px 0;
      border-radius: 1px;
    }
  }

  .navbar-collapse {

    .navbar-nav {

      .nav-item {
        padding: 0 18px;
        display: inline-block;

        .nav-link {
          color: $v_white;
          font-size: $v_fontsize_s;
          line-height: 26px;
          padding: 0;
          margin: 15px 0;
        }

        .plus-icon {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 1px solid $v_white;
          background-color: $v_black;
          position: relative;
          outline: none;

          span::before {
            content: "";
            position: absolute;
            width: 10px;
            top: 50%;
            left: 30%;
            border-top: 2px solid $v_white;
          }

          span::after {
            content: "";
            position: absolute;
            width: 10px;
            top: 50%;
            left: 30%;
            border-top: 2px solid $v_white;
            transform: rotate(90deg);
          }
        }

        @media screen and (min-width: $v_breakpoint_lg) {
          .dropdown-menu {
            background-color: $v_black;
            padding: 0;
            margin: 0;

            @media screen and (min-width: $v_breakpoint_lg) {
              width: 220px;
            }

            li {
              background-color: $v_black;
              margin: 0;
            }
          }
        }
      }

      .plus-icon-nav-item {
        margin-left: 10px;
      }
    }
  }
}
