<header>
  <nav class="navbar navbar-light fixed-top nav-wrapper navbar-expand-xl">
    <a href="#" class="img-wrapper">
      <img src="../../../page/img/header-logo.png" class="logo-img" />
    </a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
    >
      <div class="humberger-icon"></div>
      <div class="humberger-icon"></div>
      <div class="humberger-icon"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <div class="concept-plus-icon-wrapper">
            <a href="#" class="lg-concept nav-link">CONCEPT</a>
            <a
              href="#"
              class="xl-concept dropdown-toggle nav-link"
              type="button"
              id="dropdownMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >CONCEPT</a
            >
            <img
              src="../../../page/img/plus.svg"
              class="plus-icon navbar-toggler"
              data-toggle="collapse"
              data-target="#conceptNav"
              aria-controls="conceptNav"
              aria-expanded="false"
            />
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item">
                <a href="#">ブログアーカイブ</a>
              </li>
              <li class="dropdown-item">
                <a href="#">お知らせアーカイブ</a>
              </li>
              <li class="dropdown-item">
                <a href="#">イベントアーカイブ</a>
              </li>
              <li class="dropdown-item">
                <a href="#">インタビューアーカイブ</a>
              </li>
              <li class="dropdown-item">
                <a href="#">FAQページ</a>
              </li>
              <li class="dropdown-item">
                <a href="#">固定ページ(デフォルト)</a>
              </li>
              <li class="dropdown-item">
                <a href="#">CONCEPT</a>
              </li>
              <li class="dropdown-item">
                <a href="#">SERVICE</a>
              </li>
              <li class="dropdown-item">
                <a href="#">FLOOR</a>
              </li>
              <li class="dropdown-item">
                <a href="#">ACCESS</a>
              </li>
            </ul>
          </div>
          <ul class="collapse navbar-nav concept-nav" id="conceptNav">
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">ブログアーカイブ</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">お知らせアーカイブ</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">イベントアーカイブ</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">インタビューアーカイブ</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">FAQページ</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">固定ページ(デフォルト)</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">CONCEPT</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">SERVICE</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">FLOOR</a>
            </li>
            <li class="nav-item concept-nav-item">
              <a href="#" class="nav-link">ACCESS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
