<div class="news-wrapper">
  <div class="news-title-wrapper">
    <p class="news-title-left">News</p>
    <p class="news-title-right">お知らせ</p>
  </div>
  <div class="all-article-wrapper">
    <div class="article-wrapper">
      <a href="#">
        <article class="title-time-wrapper">
          <time datetime="2018-06-20">2018.06.20</time>
          <p>
            ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
          </p>
        </article>
      </a>
    </div>
    <div class="article-wrapper">
      <a href="#">
        <article class="title-time-wrapper">
          <time datetime="2018-06-18">2018.06.18</time>
          <p>3種のレイアウトから選択できるテンプレートを固定ページに実装</p>
        </article>
      </a>
    </div>
    <div class="article-wrapper">
      <a href="#">
        <article class="title-time-wrapper">
          <time datetime="2018-06-12">2018.06.12</time>
          <p>利用者からのご質問をまとめた「FAQ」ページをアップしました。</p>
        </article>
      </a>
    </div>
    <div class="article-wrapper">
      <a href="#">
        <article class="title-time-wrapper">
          <time datetime="2018-06-08">2018.06.08</time>
          <p>
            デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
          </p>
        </article>
      </a>
    </div>
    <div class="article-wrapper">
      <a href="#">
        <article class="title-time-wrapper">
          <time datetime="2018-06-02">2018.06.02</time>
          <p>テーマのアップデート情報について</p>
        </article>
      </a>
    </div>
  </div>
  <div class="news-more-wrapper">
    <a href="#" class="news-more-title">
      お知らせ一覧
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
</div>
