@use "../../variables" as *;

.news-wrapper {
  .news-title-wrapper {
    margin-bottom: 32px;
  }

  .all-article-wrapper {
    a {
      display: block;
      text-decoration: none;
      color: $v_black;
      border: 1px solid $v_gray_gainsboro;
      border-bottom: none;
      transition: color 0.2s ease;

      &:hover {
        color: $v_orange_bistre;
      }

      .article-wrapper {
        padding: 20px;
        background-color: $v_white;

        .title-time-wrapper {
          time {
            color: $v_gray_nobel;
            font-size: $v_fontsize_xs;
            margin-bottom: 10px;
          }

          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $v_fontsize_m;
            line-height: 23px;
            margin: 0;
          }
        }
      }
    }
  }

  .all-article-wrapper a:last-child {
    border-bottom: 1px solid $v_gray_gainsboro;
    margin-bottom: 30px;
  }

  .news-more-wrapper {
    text-align: right;
    margin-bottom: 35px;
  }
}
