<footer class="footer-wrapper">
  <div class="contact-wrapper">
    <img src="../../../page/img/footer-logo.png" />
    <p class="info-text">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </p>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fas fa-rss"></i>
  </div>
  <div class="footer-nav-wrapper">
    <p>HOME</p>
    <img src="../../../page/img/border.png" />
    <p>CONCEPT</p>
    <img src="../../../page/img/border.png" />
    <p>SERVICE</p>
    <img src="../../../page/img/border.png" />
    <p>FLLOR</p>
    <img src="../../../page/img/border.png" />
    <p>INTERVIEW</p>
    <img src="../../../page/img/border.png" />
    <p>BLOG</p>
    <img src="../../../page/img/border.png" />
    <p>ACCESS</p>
    <img src="../../../page/img/border.png" />
    <p>DOWNLOAD</p>
  </div>
  <p class="bottom-text">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </p>
</footer>
