@use "../../variables" as *;

.footer-wrapper {
  .contact-wrapper {
    text-align: center;
    padding: 32px 0;
    @media screen and (min-width: $v_breakpoint_md) {
      padding: 52px;
    }
    img {
      width: 150px;
      margin-bottom: 20px;
    }
    .info-text {
      font-size: $v_fontsize_s;
      line-height: 28px;
      margin-bottom: 20px;
    }
    i {
      margin-left: 15px;
    }
  }
  .footer-nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $v_white_smoke;
    padding: 16px;

    p {
      margin-bottom: 8px;
      font-size: $v_fontsize_s;
      line-height: 20px;
    }

    img {
      display: none;
    }

    p:nth-child(13),
    p:nth-child(15) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $v_breakpoint_md) {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0 8px;
      }

      img {
        display: block;
      }
    }
  }
  .bottom-text {
    font-size: $v_fontsize_xs;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    background-color: $v_black;
    color: $v_white;
  }
}
