@use "../../variables" as *;

.news-title-wrapper {
  display: flex;
  align-items: center;

  .news-title-left {
    font-size: $v_fontsize-l;
    font-family: $v_fontfamily_mincho;
    margin: 0;

    @media screen and (min-width: $v_breakpoint_lg) {
      font-size: $v_fontsize_xxl;
    }
  }

  .news-title-right {
    font-size: $v_fontsize-m;
    font-family: $v_fontfamily_gothic;
    margin: 0 0 0 16px;
  }
}
