@use "../../variables" as *;

.button {
  width: 180px;
  height: 45px;
  background-color: $v_black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $v_white;
  transition: background-color 0.2s ease;

  @media screen and (min-width: $v_breakpoint_md) {
    width: 150px;
    height: 55px;
  }

  @media screen and (min-width: $v_breakpoint_lg) {
    width: 200px;
    height: 55px;
  }

  &:hover {
    background-color: $v_orange_bistre;
    color: $v_white;
    text-decoration: none;
  }
}
