<div
  class="d-flex flex-column flex-md-row justify-content-center cards-wrapper"
>
  <div class="card">
    <div class="card-img-wrapper">
      <p class="card-title">CONCEPT</p>
      <a href="#">
        <img src="../../../page/img/cards-1.png" class="card-img" />
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">
        「本屋」でも「自習室」 でもない、新しい空間。 それがこのカフェ＆コワ
        ーキングです。 お好きなドリンクを飲み ながらゆったりと気兼ね
        なく勉強や仕事に取り組 んでいただけます。
      </p>
      <a href="#" class="button">コンセプト</a>
    </div>
  </div>
  <div class="card">
    <div class="card-img-wrapper">
      <p class="card-title">SERVICE</p>
      <a href="#">
        <img src="../../../page/img/cards-2.png" class="card-img" />
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">
        喫茶・軽食を楽しめるカ フェスペース。ビジネス 書から最新の雑誌まで取
        りそろえるブックスペー ス。ブース型のパーソナ ルワークスペースに、開
        放感があるコワーキング スペース。
      </p>
      <a href="#" class="button">サービス</a>
    </div>
  </div>
  <div class="card">
    <div class="card-img-wrapper">
      <p class="card-title">FLOOR</p>
      <a href="#">
        <img src="../../../page/img/cards-3.png" class="card-img" />
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">
        カフェ・ブック・コワー キング。各エリアで異な るコンセプトを持つ当店
        では、目的や気分に合わ せてフロア内を移動する ことで充実した時間をお
        過ごしいただけます。
      </p>
      <a href="#" class="button">フロアー</a>
    </div>
  </div>
</div>
