<div class="container">
  <div class="row">
    <div class="card col-12 col-md-4">
      <div class="card-img-wrapper">
        <p class="card-title">card-title</p>
        <a href="#">
          <img src="../../../page/img/molecules-img-1.png" class="card-img" />
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">card-text</p>
        <a href="#" class="button">btn-text</a>
      </div>
    </div>
    <div class="card col-12 col-md-4">
      <div class="card-img-wrapper">
        <p class="card-title">card-title</p>
        <a href="#">
          <img src="../../../page/img/molecules-img-1.png" class="card-img" />
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">card-text</p>
        <a href="#" class="button">btn-text</a>
      </div>
    </div>
    <div class="card col-12 col-md-4">
      <div class="card-img-wrapper">
        <p class="card-title">card-title</p>
        <a href="#">
          <img src="../../../page/img/molecules-img-1.png" class="card-img" />
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">card-text</p>
        <a href="#" class="button">btn-text</a>
      </div>
    </div>
  </div>
</div>
